.product-item {
  // background-color: #ccc;
  padding: 10px;
  margin: 10px;
  display: block;
  width: 200px;
  border: solid 1px #000;
  cursor: pointer;
  &:hover {
    background-color: rgba(204, 204, 204, .5);
    color: #333;
    border-color: #fff;

    .product-name {
      color: #fff;
    }

  }
  .product-name {
    margin-top: 0;
    text-transform: capitalize;
  }
  p {
    margin: 5px 0 5px 0;
    display: block;
  }
}