@import '../../styles/mixins.scss';
.product-item {
  padding: 10px;
  margin: 10px;
  display: block;
  border: solid 1px #c1c1c1;
  cursor: pointer;
  color: #333;
  font-weight: 100;
  @include respond-to('medium') {
    width: 200px;
  }
  &:hover {
    border-color: #333;

    .product-name {
      color: #000;
    }

  }
  .product-name {
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
  }
  p {
    margin: 5px 0 5px 0;
    display: block;
  }
}